<!DOCTYPE html>
<html>
<head>
<title>TwitterSignup</title>
	    <link rel="icon" type="image/png" href="./Images/title.png"/>
<link rel='stylesheet' href='./stylesheets/style.css' />
<link rel='stylesheet' href='./stylesheets/signup.css' />
</head>
<body>
	<div class="signup-wrapper">
	<div class="StreamsHero-image"
				style="height: 50px;background-image: url(https://abs.twimg.com/a/1457130698/img/t1/lohp_streams_header_bg_v4.png);">
	<img class="Icon Icon--bird" src = "/Images/birdHome1.png" class="imageTwitter" style="display: inline-block; width: 20px; height: 21px;">
	
	</div>
	
		<h1>Join Twitter Today</h1>
		<form id="phx-signup-form" method="POST" action='/contactInfo'
			class='signUp'>
			<div class="textbox">
				<div class="prompt name">
					<div class="field" data-fieldname="name">
						<input name="fname" id="fname" class="" type="text" title="Cannot enter numbers" 
							placeholder="First name" aria-required="true" maxlength="20"
						 value="" autocomplete="off"><br /> <br />
						<input name="lname" id="lname" class="" type="text" placeholder="Last name"
							aria-required="true" maxlength="20" value="" title="Cannot enter numbers" 
							autocomplete="off"><br /> <br /> 
							<input name="emailID" id="emailID"
							class="email-input" type="text" placeholder="Email"
							aria-required="true" value="" autocomplete="off">
						<br /> <br /> <input name="passwd" id="passwd"  type="password"
							placeholder="Password" aria-required="true" 
							value=""> <br /> <br />
							<input name="passwd1" id="passwd1"  type="password"
							placeholder="Confirm Password" aria-required="true" 
							value=""> <br /> <br />
						<div class="sign-up-box">
							<button id="submit_button" class="submit button signup"
								name="submit">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="befound">
			<p>
				By signing up, you agree to the <a class="legal-link"
					target="_blank" href="/tos">Terms of Service</a> and <a
					class="legal-link" target="_blank" href="/privacy">Privacy
					Policy</a> , including <a class="legal-link" target="_blank"
					href="https://support.twitter.com/articles/20170514">Cookie Use</a>
				. Others will be able to find you by email or phone number when
				provided.
			</p>
		</div>
		<p style="color:red;"><b><%= typeof errorMessage!='undefined' ? errorMessage+"" : '' %></b></p>
	</div>	
</body>
</html>
